:root {
    --dark-theme-bg: #333;
    --dark-theme-colour: #FFF;
    --dark-theme-border: solid .5rem #333;
    --dark-theme-dark-shadow: rgb(0, 0, 0, .4);
    --dark-theme-light-shadow: rgb(100, 100, 100, .225);

    --light-theme-bg: #FFF;
    --light-theme-colour: #333;
    --light-theme-border: solid .5rem #EEE;
    --light-theme-dark-shadow: rgb(100, 100, 100, .075);
    --light-theme-light-shadow: rgb(255, 255, 255, .6);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-theme-bg);
    color: var(--dark-theme-colour);
    overflow: hidden;
}

.neumorphism {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    /* max-width: 40ch; */
    width: 15rem;
    aspect-ratio: 1 / 1;

    border: var(--dark-theme-border);
    border-radius: 1em;
    box-shadow: .5rem .5rem 1rem var(--dark-theme-dark-shadow),
                -.5rem -.5rem 1rem var(--dark-theme-light-shadow);

    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .1em;

    transition: .4s;
}

.neumorphism .element {
    width: inherit;
    aspect-ratio: inherit;
    
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    border-radius: 50%;
    box-shadow: inherit;

    transform: scale(.4);
    transition: .5s;
}

.neumorphism:hover .element {
    transform: scale(.75);
}

.neumorphism:hover {
    box-shadow: .5rem .5rem 1rem var(--dark-theme-dark-shadow),
                -.5rem -.5rem 1rem var(--dark-theme-light-shadow), 
                inset .5rem .5rem 1rem var(--dark-theme-dark-shadow),
                inset -.5rem -.5rem 1rem var(--dark-theme-light-shadow);
    
    cursor: pointer;
}